@charset "UTF-8";
@media (max-width: 768px) {
  /* Стилі для планшетів та мобільних пристроїв */
  .container {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  /* Стилі для комп'ютерів */
  .container {
    width: 100%;
  }
}
table {
  width: 100%;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 4px 6px -2px rgba(26, 26, 26, 0.2), inset 1px 0px 0px rgba(0, 0, 0, 0.13), inset -1px 0px 0px rgba(0, 0, 0, 0.13), inset 0px -1px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px rgba(204, 204, 204, 0.5);
  border-radius: 8px;
}
table .table-no-spacing {
  border-spacing: 0;
}
table .table-row {
  border-bottom: 1px solid #E3E3E3;
}
table .table-row .cell {
  padding: 12px 6px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E3E3E3;
}
table .table-row .cell.cell-header-text {
  text-align: unset;
  line-height: 20px;
  font-weight: 450;
}
table .table-row .cell.content {
  text-decoration: underline;
  color: #005BD3;
}
table .table-row .cell.content > a {
  color: #005BD3;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.status {
  text-align: center;
  font-weight: 450;
  font-size: 12px;
  line-height: 16px;
}
.status > div {
  width: 58px;
  padding: 2px 8px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.status.active-status > div {
  background-color: #CDFEE1;
  color: #0C5132;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px -2px rgba(26, 26, 26, 0.2), inset 1px 0px 0px rgba(0, 0, 0, 0.13), inset -1px 0px 0px rgba(0, 0, 0, 0.13), inset 0px -1px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px rgba(204, 204, 204, 0.5);
  border-radius: 4px;
}
.tabs__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 12px 12px;
  font-weight: 450;
  font-size: 13px;
  line-height: 20px;
  color: #303030;
}
.tabs__tab.active-tab {
  border-bottom: 2px solid #29845A;
}
.tabs .tab:first-child {
  border-bottom-left-radius: 4px;
}

.save-create-button {
  padding: 6px 12px;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 82.14%, rgba(255, 255, 255, 0.15) 94.44%);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2), inset 2px 0px 0px rgba(255, 255, 255, 0.2), inset -2px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 1px #000000, inset 0px 1px 0px #000000;
  background-color: #303030;
  border-radius: 8px;
}

.cancel-button {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #B5B5B5, inset -1px 0px 0px #E3E3E3, inset 1px 0px 0px #E3E3E3, inset 0px 1px 0px #E3E3E3;
  border-radius: 8px;
  color: #303030;
}

.setting-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  padding: 20px;
  width: 100%;
}
.setting-footer--back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-size: 13px;
  font-family: "Inter";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

button {
  background: none;
  border: none;
}

.container {
  padding: 40px 32px;
  height: 100vh;
  background-color: #F1F1F1;
}

.page-header-text {
  width: 98px;
  height: 32px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #303030;
}

.delete-icon {
  text-align: center;
}

hr {
  display: block;
  margin: 0.5em auto;
  border-style: inset;
  border-width: 1px;
  opacity: 0.5;
  border-color: grey;
  width: 100%;
}

.containers-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "calculations collections" ". products";
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.price-calculation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFF;
  box-shadow: 0px 4px 6px -2px rgba(26, 26, 26, 0.2), inset 1px 0px 0px rgba(0, 0, 0, 0.13), inset -1px 0px 0px rgba(0, 0, 0, 0.13), inset 0px -1px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px rgba(204, 204, 204, 0.5);
  border-radius: 8px;
  padding: 28px;
  grid-area: calculations;
}

.price-calculation-title {
  display: flex;
  gap: 10px;
}
.price-calculation-title > h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 650;
}

.input-price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.input-price-wrapper > span {
  color: #616161;
}

.price-calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border: 1px solid #8A8A8A;
  border-radius: 8px;
}
.price-calculator .content-wrapper {
  overflow: auto;
  max-height: 190px;
}
.price-calculator .content-wrapper .content-item hr {
  border-color: #EBEBEB;
  opacity: 0.4;
}

.default-search-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.default-search-input > span {
  color: #616161;
}

.price-calculation-formula {
  display: flex;
  flex-direction: column;
}

.add-collections-container {
  background-color: #fff;
  box-shadow: 0px 4px 6px -2px rgba(26, 26, 26, 0.2), inset 1px 0px 0px rgba(0, 0, 0, 0.13), inset -1px 0px 0px rgba(0, 0, 0, 0.13), inset 0px -1px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px rgba(204, 204, 204, 0.5);
  border-radius: 8px;
  padding: 28px;
  grid-area: collections;
}

.add-products-container {
  grid-area: products;
}

.formula-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-collections {
  display: flex;
  justify-content: space-between;
}

.search-input-container {
  margin: 20px 0;
  background-color: white;
  padding: 12px;
  box-shadow: 0px 4px 6px -2px rgba(26, 26, 26, 0.2), inset 1px 0px 0px rgba(0, 0, 0, 0.13), inset -1px 0px 0px rgba(0, 0, 0, 0.13), inset 0px -1px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px rgba(204, 204, 204, 0.5);
  border-radius: 8px;
}

.input-selected {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid #EBEBEB;
}

.collection-items {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.collection-items > .collection-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #EBEBEB;
}

.form-buttons {
  display: flex;
  gap: 10px;
}
.form-buttons > button {
  flex: 1;
}

.setting-container {
  padding: 40px 32px;
  height: 100vh;
  background-color: #F1F1F1;
}

.setting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-header-links {
  display: flex;
  gap: 10px;
}

.setting-header-active-link {
  color: #303030 !important;
}

.setting-header-links a {
  color: #616161;
}

.setting-header-buttons button {
  padding: 6px 12px;
  border-radius: 8px;
}

.setting-header-save-button {
  border: 1px solid transparent;
}

.setting-header-save-button-disabled {
  border: 1px solid transparent;
  color: #B5B5B5;
  background: rgba(0, 0, 0, 0.05);
}

.setting-input-wrapper {
  display: flex;
  margin: 20px 0;
  background-color: white;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  box-shadow: 0px 4px 6px -2px rgba(26, 26, 26, 0.2), inset 1px 0px 0px rgba(0, 0, 0, 0.13), inset -1px 0px 0px rgba(0, 0, 0, 0.13), inset 0px -1px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px rgba(204, 204, 204, 0.5);
  border-radius: 8px;
}

.default-input {
  padding: 6px 12px;
  background: #FDFDFD;
  border: 0.66px solid #8A8A8A;
  border-radius: 8px;
}

.setting-empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  margin: 0 auto 20px;
  flex-direction: column;
  gap: 8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px -2px rgba(26, 26, 26, 0.2), inset 1px 0px 0px rgba(0, 0, 0, 0.13), inset -1px 0px 0px rgba(0, 0, 0, 0.13), inset 0px -1px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px rgba(204, 204, 204, 0.5);
  border-radius: 12px;
}
.setting-empty-state img {
  width: 150px;
}
.setting-empty-state img + span {
  font-weight: 650;
  line-height: 20px;
}
.setting-empty-state button {
  margin-top: 15px;
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2), inset 2px 0px 0px rgba(255, 255, 255, 0.2), inset -2px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px 1px #000000, inset 0px 1px 0px #000000;
  background: #303030;
  border-radius: 8px;
  color: #FFFFFF;
  width: 33px;
  height: 32px;
}/*# sourceMappingURL=main.css.map */